body {
  padding: 0;
  margin: 0;
}

html,
body,
#mapid {
  height: 100vh;
  width: 100%;
}

.waypoint-icon {
  width: 28px;
}

.waypoint-marker {
  text-align: center;
}

/* body {
	padding: 0;
	margin: 0;
}

#mapid {
	position: absolute;
	top: 20%;
	bottom: 0;
	width: 100%;
}*/
#route {
  text-align: center;
}

.waypoint-name {
  font-weight: bold;
  width: 80px;
  font-size: 16px;
}

.altitude-div {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

.altitude-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: black;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.bearing {
  color: rgb(176, 73, 144);
  font-size: 16px;
  font-weight: bold;
}

.waypoint_popup {
  direction: rtl;
  text-align: right;
}

/* [contenteditable] {
	outline: 0px solid transparent;
} */
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

/* .planner {
    text-align: right;
    direction: rtl;
    font-family: 'Assistant', sans-serif;
    width: 500px;
    position: absolute;
    right: 12px;
    z-index: 999;
    background-color: #fff;
    padding: 5px 10px 10px 10px;
    border: 1px solid #999;
    line-height: 30px;
    background-color: rgb(238, 238, 238);
    cursor: pointer
} */
.planner {
  text-align: right;
  direction: rtl;
  font-family: 'Assistant', sans-serif;
  width: 500px;
  position: absolute;
  right: 12%;
  z-index: 999;
  background-color: #fff;
  padding: 5px 10px 10px 10px;
  border: 1px solid #999;
  line-height: 30px;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 576px) {
  #planner {
    width: 96%;
    right: 0px;
  }
}

.airport {
  display: inline-block;
  width: 100px;
  background-color: white;
  margin-top: 10px;
  border: solid rgb(153, 153, 153);
  border-radius: 4px;
  border-width: 1px;
  text-align: center;
  direction: ltr;
  text-transform: uppercase;
  color: black;
}

#route {
  direction: ltr;
  height: 120px;
  margin: auto;
  background-color: white;
  outline: 1px solid black;
  margin-top: 10px;
  text-transform: uppercase;
  color: black;
}

.airport_validate {
  display: inline-block;
  margin-right: 15px;
  font-weight: bold;
}

.marker-button {
  margin: 5px;
}

.airport-name {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px
}

.popup-button {
  margin-left: 5px;
  width: 40px;
  vertical-align: bottom;
}

.button-text {
  font-size: 16px;
}

.leaflet-popup-content {
  margin: 10px 10px;
}

.leaflet-control-layers-list {
  direction: rtl;
}

.leaflet-sidebar-pane {
  height: 100%;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
  user-select: none;
  font-size: 18px;
}

.charts-list a {
  color: white;
}

.main-map-button {
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
  background-color: mediumspringgreen;
  font-size: 22px;
  width: 85%;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.airport-chart-title {
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fa-arrow-left, .fa-arrow-down {
  display: inline-block;
  color: rgb(120, 120, 120);
  margin-right: 5%;
}

.fa-plus-square, .fa-plus-square {
  display: inline-block;
}

.fa-plus-square {
  color: green;
}

.fa-minus-square {
  color: red;
}

.charts-list {
  display: none;
}

.leaflet-sidebar-tabs {
  background-color: rgb(66, 66, 66);
}

.leaflet-sidebar-content {
  background-color: rgb(66, 66, 66, .95);
}

.leaflet-sidebar-tabs .fa {
  color: white;
}

.leaflet-sidebar-header {
  text-align: right;
}

.chart-data {
  cursor: pointer;
}

.airport-text {
  color: white;
}

.leaflet-sidebar-pane {
  color: white;
}
.routes-errors{
  color: indianred;
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
}
